
h1 {
    font-family: KonSystem;
    color: #FFFFFF;
    background-color: red;
    text-align: center;
    font-size: 50px;
    width: 300px;
    padding-top: 5px;
    border: solid 1px red;
}

h2 {
    font-family: 'Press Start 2P', cursive;
    color: #FFFFFF;
    margin: 0;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;

}

body {
    background-color: black;
}

.player, .lives {
    font-family: 'Press Start 2P', cursive;
    color: #FFFFFF;
}

.lives {
    margin-bottom: 3em;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

#moreLives {
    padding-left: 20px;
    font-size: 19px;
    text-align: end;
}

.moreLives {
    padding-left: 20px;
    font-size: 19px;
    text-align: end;
}

#playerImage {
height: 0px;
}

#player1 {
    position: relative;
    top: 150px;
}

#game {
    height: 200px;
    margin-bottom: 1em;
}

.animate {
    animation: jump 1s infinite;
}

@keyframes jump {
    0%{top: 150px;}
    50%{top: 100px;}
    /*70%{top: 100px;}*/
    100%{top: 150px;}
}

